#!/usr/bin/env python3

import requests
import json
import sys
import os
import logging

logging.basicConfig(filename='/usr/local/nagios/var/eventhandlers.log',level=logging.DEBUG)

ITOP_URL = os.getenv('url', 'http://{{ itop_ip }}')
ITOP_USER = os.getenv('user','admin')
ITOP_PWD = os.getenv('pwd','admin')
TICKET_CLASS = 'Incident'
TITLE = 'Service down on %(host)s'
DESCRIPTION = 'The service %(service)s is down on %(host)s'
COMMENT = 'Created from Nagios'

if len(sys.argv) != 5:
    logging.error("Usage: "+sys.argv[0]+" host service service_status service_state_type\n")
    sys.exit()
else:
    host = sys.argv[1]
    service = sys.argv[2]
    service_status = sys.argv[3]
    service_state_type = sys.argv[4]

if (service_status != "OK") and (service_status != "UP") and (service_state_type == "HARD" ):
    json_data = {
        'operation': 'core/create',
        'class': TICKET_CLASS,
        'fields': {
                'title': TITLE % {'host': host },
                'description': DESCRIPTION % {'host': host, 'service': service },
                'org_id': 'SELECT Organization AS O JOIN FunctionalCI AS CI ON CI.org_id = O.id WHERE CI.name="%(host)s"' % {'host': host},
                'functionalcis_list': [ {
                        'functionalci_id': "SELECT FunctionalCI WHERE name='%(host)s'" % {'host': host},
                        'impact_code': 'manual',
                }],
        },
        'comment': COMMENT,
        'output_fields': 'id',
    }
    encoded_data = json.dumps(json_data)
    data={'auth_user': ITOP_USER, 'auth_pwd': ITOP_PWD, 'json_data': encoded_data}
    r = requests.post(ITOP_URL+'/webservices/rest.php?version=1.0', verify=False, data=data)
    result = json.loads(r.text);
    if result['code'] == 0:
        logging.info("Ticket created.\n")
    else:
        logging.info(result['message']+"\n")
else:
    logging.warning("Service state type !='HARD', doing nothing on %s" % host)
